
.vs/
.nuget/

src/source/Global Debug/
src/Global Debug/
src/Global Debug/Main
src/source/Global Release/
src/Global Release/
src/Global Release/Main

# CMake build directories
build/
build-mingw/
/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
**/cmake-build-debug/
**/cmake-build-release/
**/CMakeFiles/
/Win32/

# Jetbrains Ides
/.idea/
**/.idea/

# ImGui
**/imgui.ini