[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/ThirdParty/SDL"]
	path = src/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
